<form hx-post="{% url 'htmx-address-info' %}">
  {% csrf_token %}
<div class="row">
  <!-- Left Column -->
  <div class="col-md-10">
    {% include "common/field/text_field_input.html" with field=form.permanent_address %}
    {% include "common/field/text_field_input.html" with field=form.temporary_address %}
    {% include "common/field/text_field_input.html" with field=form.region %}
    {% include "common/field/text_field_input.html" with field=form.district %}
    {% include "common/field/text_field_input.html" with field=form.province %}
  </div>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>
