<form hx-post="{% url 'htmx-contact-info' %}" data-active-tab="contact-info">
  {% csrf_token %}
  <div class="row">
  <!-- Left Column -->
  <div class="col-md-6">
    {% include "common/field/text_field_input.html" with field=form.loan_id %}
    {% include "common/field/text_field_input.html" with field=form.contract_number %}
    {% include "common/field/date_field_input.html" with field=form.contract_date %}
    {% include "common/field/text_field_input.html" with field=form.current_account %}
    {% include "common/field/text_field_input.html" with field=form.dpd_current %}
    {% include "common/field/text_field_input.html" with field=form.dpd_assign %}
    {% include "common/field/text_field_input.html" with field=form.mob %}
    {% include "common/field/text_field_input.html" with field=form.loan_amount %}
    {% include "common/field/text_field_input.html" with field=form.loan_term %}
    {% include "common/field/text_field_input.html" with field=form.obs_due_no %}
    {% include "common/field/date_field_input.html" with field=form.payment_request_date %}
    {% include "common/field/number_field_input.html" with field=form.late_days %}
    {% include "common/field/number_field_input.html" with field=form.monthly_payment %}
    {% include "common/field/date_field_input.html" with field=form.assign_invalid_date %}
  </div>

  <!-- Right Column -->
  <div class="col-md-6">
    {% include "common/field/text_field_input.html" with field=form.penalty_amount %}
    {% include "common/field/text_field_input.html" with field=form.interest_amount %}
    {% include "common/field/text_field_input.html" with field=form.principal_amount %}
    {% include "common/field/text_field_input.html" with field=form.pos_assign %}
    {% include "common/field/text_field_input.html" with field=form.total_payment %}
    {% include "common/field/text_field_input.html" with field=form.last_result_final %}
    {% include "common/field/text_field_input.html" with field=form.total_amount %}
    {% include "common/field/date_field_input.html" with field=form.date_start %}
    {% include "common/field/date_field_input.html" with field=form.date_end %}
  </div>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>