{% extends 'common/htmx_base.html' %} 
{% block title %}Customer{% endblock %}
{%block content %}
<h2>Using HTMX</h2>
<div class="d-flex">
  <div class="w-50 p-2 m-2 border" id="leftTab">
    <div class="p-2 border primary_background_color d-flex item-center">
      <span class="lh-sm fw-semibold fs-5">THÔNG TIN KHÁCH HÀNG</span>
    </div>

    <ul class="d-flex list-inline fs-6 p-2 pb-0 border-bottom text-center">
      <li
        style="width: 250px; font-size: smaller"
        class="tab text-center align-middle p-2"
        hx-get="{% url 'htmx-customer-info' %}"
        hx-target="#tab-content"
        hx-swap="innerHTML"
        hx-trigger="click"
        id="customer-info"
      >
        Customer Info
      </li>
      <li
        style="width: 250px; font-size: smaller"
        class="tab text-center align-middle p-2"
        hx-get="{% url 'htmx-contact-info' %}"
        hx-target="#tab-content"
        hx-swap="innerHTML"
        hx-trigger="click"
        id="contact-info"
      >
        Contact Info
      </li>
      <li
        style="width: 250px; font-size: smaller"
        class="tab text-center align-middle p-2"
        type="button"
        hx-get="{% url 'htmx-payment-info' %}"
        hx-target="#tab-content"
        hx-swap="innerHTML"
        hx-trigger="click"
        id="payment-info"
      >
        Payment Info
      </li>
      <li 
        style="width: 250px; font-size: smaller"
        class="tab align-middle p-2"
        type="button"
        hx-get="{% url 'htmx-product-info' %}"
        hx-target="#tab-content"
        hx-swap="innerHTML"
        hx-trigger="click"
        id="product-info"
      >
        Product Info
      </li>
      <li
        style="width: 250px; font-size: smaller"
        class="tab align-middle p-2"
        type="button"
        hx-get="{% url 'htmx-address-info' %}"
        hx-target="#tab-content"
        hx-swap="innerHTML"
        hx-trigger="click"
        id="payment-info"
      >
        Address Info
      </li>
      <li 
        style="width: 250px; font-size: smaller"
        class="tab align-middle p-2"
        type="button"
        hx-get="{% url 'htmx-phone-info' %}"
        hx-target="#tab-content"
        hx-swap="innerHTML"
        hx-trigger="click"
        id="phone-info"
      >
        Phone Info
      </li>
    </ul>

    <div class="p-2 pt-0">
      <div class="p-2 border primary_background_color d-flex item-cente">
        <span class="lh-sm fw-semibold">CUSTOMER INFO</span>
      </div>
      <div class="p-2" id="tab-content"></div>
    </div>
  </div>
  <div x-data class="w-50 p-2 m-2 border" id="rightTab">
    <div class="p-2 border primary_background_color d-flex item-center">
      <span class="lh-sm fw-semibold fs-5">Section</span>
    </div>
    <ul class="d-flex list-inline fs-6 p-2 pb-0 border-bottom text-center">
      <li
        @click="$store.rightActiveTab.current = 'call-outcome'"
        :class="{'active_tab': $store.rightActiveTab.current == 'call-outcome'}"
        style="width: 250px; font-size: smaller"
        class="tab text-center align-middle p-2"
        type="button"
      >
        Call Outcome
      </li>
      <li
        @click="$store.rightActiveTab.current = 'history-all'"
        :class="{'active_tab': $store.rightActiveTab.current === 'history-all'}"
        style="width: 250px; font-size: smaller"
        class="tab text-center align-middle p-2"
        type="button"
      >
        History all
      </li>
      <li
        @click="$store.rightActiveTab.current = 'history-limit'"
        :class="{'active_tab': $store.rightActiveTab.current === 'history-limit'}"
        style="width: 250px; font-size: smaller"
        class="tab text-center align-middle p-2"
        type="button"
      >
        History limit
      </li>
    </ul>
    <div class="p-2" id="right-tab-content">
      <div x-show="$store.rightActiveTab.current === 'call-outcome'" x-transition>
          {% include "apps/customer/alpine/call_outcome.html" %}
      </div>
      <div x-show="$store.rightActiveTab.current === 'history-all'" x-transition>
          {% include "apps/customer/alpine/history_all.html" %}
      </div>
      <div x-show="$store.rightActiveTab.current === 'history-limit'" x-transition>
          {% include "apps/customer/alpine/history_limit.html" %}
      </div>
  </div>
</div>
</div>

{% endblock %} {% block js %}
<script>

  document.body.addEventListener('htmx:xhr:loadend', function (event) {
    if (event.target?.getAttribute('hx-target') === '#tab-content') {
      document.querySelectorAll("#leftTab .tab").forEach((tab) => tab.classList.remove("active_tab"));
      event.target.classList.add("active_tab");
    }
  });

  // Set default active tab
  document.addEventListener("DOMContentLoaded", function () {
    const firstTab = document.querySelector("#leftTab .tab");
    if (firstTab) {
        firstTab.classList.add("active_tab");
        firstTab.click(); // Trigger click event on the first tab
    }
  });
</script>
{% endblock %}
