{% extends 'common/htmx_base.html' %} 
{% block title %}Customer{% endblock %}
{%block content %}
<h2>Using HTMX</h2>
<div class="d-flex flex-wrap">
  <div class="p-2 m-2 border" id="leftTab">
    <div class="p-2 border primary_background_color d-flex item-center">
      <span class="lh-sm fw-semibold fs-5">THÔNG TIN KHÁCH HÀNG</span>
    </div>
    <div id="messages-container">
      {% include 'apps/customer/htmx/messages.html' %}
    </div>
    <ul class="d-flex list-inline fs-6 p-2 pb-0 border-bottom text-center">
      <li
        style="width: 250px; font-size: smaller"
        class="tab text-center align-middle p-2"
        hx-get="{% url 'htmx-customer-info' %}"
        hx-target="#left-tab-content"
        hx-swap="innerHTML"
        hx-trigger="click"
        id="customer-info"
      >
        Customer Info
      </li>
      <li
        style="width: 250px; font-size: smaller"
        class="tab text-center align-middle p-2"
        hx-get="{% url 'htmx-contact-info' %}"
        hx-target="#left-tab-content"
        hx-swap="innerHTML"
        hx-trigger="click"
        id="contact-info"
      >
        Contact Info
      </li>
      <li
        style="width: 250px; font-size: smaller"
        class="tab text-center align-middle p-2"
        type="button"
        hx-get="{% url 'htmx-payment-info' %}"
        hx-target="#left-tab-content"
        hx-swap="innerHTML"
        hx-trigger="click"
        id="payment-info"
      >
        Payment Info
      </li>
      <li 
        style="width: 250px; font-size: smaller"
        class="tab align-middle p-2"
        type="button"
        hx-get="{% url 'htmx-product-info' %}"
        hx-target="#left-tab-content"
        hx-swap="innerHTML"
        hx-trigger="click"
        id="product-info"
      >
        Product Info
      </li>
      <li
        style="width: 250px; font-size: smaller"
        class="tab align-middle p-2"
        type="button"
        hx-get="{% url 'htmx-address-info' %}"
        hx-target="#left-tab-content"
        hx-swap="innerHTML"
        hx-trigger="click"
        id="payment-info"
      >
        Address Info
      </li>
      <li 
        style="width: 250px; font-size: smaller"
        class="tab align-middle p-2"
        type="button"
        hx-get="{% url 'htmx-phone-info' %}"
        hx-target="#left-tab-content"
        hx-swap="innerHTML"
        hx-trigger="click"
        id="phone-info"
      >
        Phone Info
      </li>
    </ul>

    <div class="p-2 pt-0">
      <div class="p-2 border primary_background_color d-flex item-cente">
        <span class="lh-sm fw-semibold">CUSTOMER INFO</span>
      </div>
      <div class="p-2" id="left-tab-content"></div>
    </div>
  </div>
  <div x-data class="p-2 m-2 border" id="rightTab">
    <div class="p-2 border primary_background_color d-flex item-center">
      <span class="lh-sm fw-semibold fs-5">Section</span>
    </div>
    <div id="messages-container-right">
      {% include 'apps/customer/htmx/messages.html' %}
    </div>
    <ul class="d-flex list-inline fs-6 p-2 pb-0 border-bottom text-center">
      <li
        style="width: 250px; font-size: smaller"
        class="tab align-middle p-2"
        type="button"
        hx-get="{% url 'htmx-call-outcome' %}"
        hx-target="#right-tab-content"
        hx-swap="innerHTML"
        hx-trigger="click"
        id="call-outcome"
      >
        Call Outcome
      </li>
      <li
        style="width: 250px; font-size: smaller"
        class="tab align-middle p-2"
        type="button"
        hx-get="{% url 'htmx-history-all' %}"
        hx-target="#right-tab-content"
        hx-swap="innerHTML"
        hx-trigger="click"
        id="history-all"
      >
        History all
      </li>
      <li
        style="width: 250px; font-size: smaller"
        class="tab align-middle p-2"
        type="button"
        hx-get="{% url 'htmx-history-limit' %}"
        hx-target="#right-tab-content"
        hx-swap="innerHTML"
        hx-trigger="click"
        id="history-limit"
      >
        History limit
      </li>
    </ul>
    <div class="p-2" id="right-tab-content">
  </div>
</div>
</div>

{% endblock %} {% block js %}
<script>

  document.body.addEventListener('htmx:xhr:loadend', function (event) {
    console.log("Adwadawd");
    // const leftActiveTab = {{ left_active_tab }};
    if (event.target?.getAttribute('hx-target') === '#left-tab-content') {
      document.querySelectorAll("#leftTab .tab").forEach((tab) => tab.classList.remove("active_tab"));
      event.target.classList.add("active_tab");
    }
    if (event.target?.getAttribute('hx-target') === '#right-tab-content') {
      document.querySelectorAll("#rightTab .tab").forEach((tab) => tab.classList.remove("active_tab"));
      event.target.classList.add("active_tab");
    }
  });

  // Set default active tab
  document.addEventListener("DOMContentLoaded", function () {
    const firstLeftTab = document.querySelector("#leftTab .tab");
    if (firstLeftTab) {
        firstLeftTab.classList.add("active_tab");
        firstLeftTab.click();
    }

    const firstRightTab = document.querySelector("#rightTab .tab");
    if (firstRightTab) {
        firstRightTab.classList.add("active_tab");
        firstRightTab.click();
    }
  });
</script>
{% endblock %}
