<form id="customer-details-form">
    <div class="input-group mb-3">
        <label for="basic-url" class="form-label">Name:</label>
        <!-- <input type="text" id="name" name="name" value="{{ context.info.name }}" required> -->
        <input type="text" class="form-control" id="name" aria-describedby="basic-addon3 basic-addon4">
    </div>
    <div>
        <label for="gender">Gender:</label>
        <select id="gender" name="gender" required>
            <option value="Male" {% if user.gender == "Male" %}selected{% endif %}>Male</option>
            <option value="Female" {% if user.gender == "Female" %}selected{% endif %}>Female</option>
            <option value="Other" {% if user.gender == "Other" %}selected{% endif %}>Other</option>
        </select>
    </div>
    <div>
        <label for="id_number">ID Number:</label>
        <input type="text" id="id_number" name="id_number" value="{{ context.info.id_number }}" required>
    </div>
    <div>
        <label for="day_of_birth">Date of Birth:</label>
        <input type="date" id="day_of_birth" name="day_of_birth" value="{{ context.info.day_of_birth }}" required>
    </div>
    <button type="submit">Submit</button>
</form>