<form hx-post="{% url 'customer_info' %}">
    {% csrf_token %}
    <div class="row">
        <!-- Left Column -->
        <div class="col-md-6">
            {% include "common/field/text_field_input.html" with field=form.name %}
            <div class="form-group">
                <label>Giới tính</label>
                <select class="form-control" id="gender" name="{{ form.gender.name }}">
                    <option {% if form.gender.value == 'Male' %}selected{% endif %}>Male</option>
                    <option {% if form.gender.value == 'Female' %}selected{% endif %}>Female</option>
                    <option {% if form.gender.value == 'Other' %}selected{% endif %}>Other</option>
                </select>
            </div>
            {% include "common/field/text_field_input.html" with field=form.id_number %}
            {% include "common/field/date_field_input.html" with field=form.day_of_birth %}
            {% include "common/field/text_field_input.html" with field=form.family_relation %}
            {% include "common/field/text_field_input.html" with field=form.agency %}
            {% include "common/field/text_field_input.html" with field=form.contract_number %}
        </div>

        <!-- Right Column -->
        <div class="col-md-6">
            {% include "common/field/text_field_input.html" with field=form.company_name %}
            {% include "common/field/text_field_input.html" with field=form.company_address %}
            {% include "common/field/text_field_input.html" with field=form.company_district %}
            {% include "common/field/text_field_input.html" with field=form.company_province %}
            {% include "common/field/text_field_input.html" with field=form.group %}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>