{% extends 'common/base.html' %}

{% block title %}Customer{% endblock %}

{% block content %}
    <h2>Using HTMX</h2>
    <h1>Load User Details</h1>
    <div hx-get="/customer/htmx/" hx-trigger="load" hx-target="#form-container" hx-swap="innerHTML">
    </div>

    

    <div class="container text-center">
        <div class="row">
          <div class="col">
            <div id="form-container"></div>
          </div>
          <div class="col">
            2 of 2
          </div>
        </div>
{% endblock %}