{% extends 'common/base.html' %} {% block title %}Customer{% endblock %} 
{% block content %}
<h2>Using HTMX</h2>
<div
  hx-get="/customer/htmx/"
  hx-trigger="load"
  hx-target="#form-container"
  hx-swap="innerHTML"
></div>
<div class="d-flex">
  <div class="w-50 p-2 m-2 border">
    <div class="p-2 border primary_background_color d-flex item-center">
      <span class="lh-sm fw-semibold fs-5">THÔNG TIN KHÁCH HÀNG</span>
    </div>

      <ul class="d-flex list-inline fs-6 p-2 pb-0 border-bottom text-center">
        <li 
          style="width: 250px; font-size: smaller;"
          class="tab text-center align-middle p-2"
          hx-get="{% url 'customer_info' %}"
          hx-target="#tab-content"
          hx-swap="innerHTML"
          hx-trigger="click">
            Customer Info
        </li>
        <li 
          style="width: 250px; font-size: smaller;"
          class="tab text-center align-middle p-2"
          hx-get="{% url 'contact_info' %}"
          hx-target="#tab-content"
          hx-swap="innerHTML"
          hx-trigger="click">
        Contact Info
        </li>
        <li 
            style="width: 250px; font-size: smaller;"
            class="tab text-center align-middle p-2"
            type="button"
            hx-get="{% url 'payment_info' %}"
            hx-target="#tab-content"
            hx-swap="innerHTML"
            hx-trigger="click"
          >
            Payment Info
        </li>
        <li 
        style="width: 250px; font-size: smaller;"
        class="tab align-middle p-2">
            Product Info
        </li>
        <li 
        style="width: 250px; font-size: smaller;"
        class="tab align-middle p-2"
          type="button"
            hx-get="{% url 'address_info' %}"
            hx-target="#tab-content"
            hx-swap="innerHTML"
            hx-trigger="click"
          >
            Address Info
        </li>
        <li 
            style="width: 250px; font-size: smaller;"
            class="tab align-middle p-2">
            Phone Info
        </li>
      </ul>

      <div class="p-2 pt-0">
        <div class="p-2 border primary_background_color d-flex item-cente">
          <span class="lh-sm fw-semibold">CUSTOMER INFO</span>
        </div>
        <div class="p-2" id="tab-content"></div>
      </div>
  </div>
  <div class="w-50 p-2">Section 2</div>
</div>

{% endblock %} {% block js %}
<script>
  // Highlight the active tab
  document.body.addEventListener("htmx:beforeRequest", function (event) {
    document
      .querySelectorAll(".tab")
      .forEach((tab) => tab.classList.remove("active_tab"));
    const activeTab = event.target.closest(".tab");
    if (activeTab) {
      activeTab.classList.add("active_tab");
    }
  });

  // Set default active tab
  document.addEventListener("DOMContentLoaded", function () {
    const firstTab = document.querySelector(".tab");
    if (firstTab) {
        firstTab.classList.add("active_tab");
        firstTab.click(); // Trigger click event on the first tab
    }
  });
</script>
{% endblock %}
