{% extends 'common/base.html' %}

{% block title %}Customer{% endblock %}

{% block content %}
    <h2>Using HTMX</h2>
    <div hx-get="/customer/htmx/" hx-trigger="load" hx-target="#form-container" hx-swap="innerHTML">
    </div>
    

    <div class="d-flex">
       <div class="w-50 bg-success p-2">
        <div class="bg-info p-2">
          <h5>
          THÔNG TIN KHÁCH HÀNG
        </h5>
        </div>
        <div class="d-flex">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Customer Info 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Customer Info 2</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Customer Info 3</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li>
          </ul>
        </div>
        <div>
          <h6 class="bg-info">
            CUSTOMER INFO
          </h6>
        </div>
       </div>
       <div class="w-50 bg-warning p-2">Section 2</div>
    </div>

{% endblock %}