<form hx-post="{% url 'payment-info' %}" data-active-tab="payment-info">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-10">
      {% include "common/field/date_field_input.html" with field=form.first_paid_date %}
      {% include "common/field/text_field_input.html" with field=form.account_number %}
      {% include "common/field/text_field_input.html" with field=form.largest_amount %}
      {% include "common/field/date_field_input.html" with field=form.last_payment_date %}
      {% include "common/field/date_field_input.html" with field=form.disbursement_date %}
      {% include "common/field/text_field_input.html" with field=form.cif %}
      {% include "common/field/date_field_input.html" with field=form.due_date_overdue %}
      {% include "common/field/date_field_input.html" with field=form.next_due_date %}
      {% include "common/field/text_field_input.html" with field=form.next_due_amount %}
      {% include "common/field/text_field_input.html" with field=form.future_prin_amt %}
      {% include "common/field/text_field_input.html" with field=form.remain_prin %}
      {% include "common/field/text_field_input.html" with field=form.pos_bom %}
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
