<div class="custom-width d-flex flex-column">
  <a class="btn btn-primary disabled">Home</a>
  <a class="btn btn-primary disabled">Dashboard Autocall</a>
  <a class="btn btn-primary">Telesales v2</a>
  <a class="btn btn-primary disabled">Activities</a>
  <a class="btn btn-primary disabled">Manage Telesales</a>
  <a class="btn btn-primary disabled">Lịch sử cuộc gọi</a>
  <a class="btn btn-primary disabled">Setting</a>
  <a class="btn btn-primary disabled">Voice Blaster</a>
  <a class="btn btn-primary disabled">Masking phone</a>
</div>
