<form method="POST" action="{% url 'alpine-index' %}">
    {% csrf_token %}
    <input type="hidden" name="right_active_tab" value="call-outcome">
    <div class="row mt-2">
        <div class="col-md-6">
            {% include "common/field/boolean_field_input.html" with field=call_outcome_form.pds %}
            <div class="form-group mb-5 d-flex">
                <label style="width: 250px;">{{ call_outcome_form.contacted_person.label }}</label>
                <select class="form-select" name="{{ call_outcome_form.contacted_person.name }}">
                    <option selected>{{ call_outcome_form.contacted_person.value }}</option>
                </select>
            </div>
            <div class="form-group mb-5 d-flex">
                <label style="width: 250px;">{{ call_outcome_form.action_code.label }}</label>
                <select class="form-select" name="{{ call_outcome_form.action_code.name }}">
                    <option selected>{{ call_outcome_form.action_code.value }}</option>
                </select>
            </div>
            <div class="form-group mb-5 d-flex">
                <label style="width: 250px;">{{ call_outcome_form.reason_code.label }}</label>
                <select class="form-select" name="{{ call_outcome_form.reason_code.name }}">
                    <option selected>{{ call_outcome_form.reason_code.value }}</option>
                </select>
            </div>
            
        </div>
        <div class="col-md-6">
            {% include "common/field/boolean_field_input.html" with field=call_outcome_form.final %}
            {% include "common/field/textarea_field_input.html" with field=call_outcome_form.note %}
            {% include "common/field/date_field_input.html" with field=call_outcome_form.payment_date %}
            {% include "common/field/number_field_input.html" with field=call_outcome_form.payment_amount %}
        </div>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>