<form method="POST" action="{% url 'alpine-index' %}">
    {% csrf_token %}
    <input type="hidden" name="active_tab" value="customer-info">
    <div 
    style="padding-right: 2rem;padding-left: 2rem;"
    class="row mt-3">
        <!-- Left Column -->
        <div class="col-md-6">
            {% include "common/field/text_field_input.html" with field=customer_form.name %}
            <div class="form-group mb-5 d-flex">
                <label style="width: 250px;">Giới tính</label>
                <select class="form-control" id="gender" name="{{ customer_form.gender.name }}">
                    <option {% if customer_form.gender.value == 'Male' %}selected{% endif %}>Male</option>
                    <option {% if customer_form.gender.value == 'Female' %}selected{% endif %}>Female</option>
                    <option {% if customer_form.gender.value == 'Other' %}selected{% endif %}>Other</option>
                </select>
            </div>
            {% include "common/field/text_field_input.html" with field=customer_form.id_number %}
            {% include "common/field/date_field_input.html" with field=customer_form.day_of_birth %}
            {% include "common/field/text_field_input.html" with field=customer_form.family_relation %}
            {% include "common/field/text_field_input.html" with field=customer_form.agency %}
            {% include "common/field/text_field_input.html" with field=customer_form.contract_number %}
        </div>

        <!-- Right Column -->
        <div class="col-md-6">
            {% include "common/field/text_field_input.html" with field=customer_form.company_name %}
            {% include "common/field/text_field_input.html" with field=customer_form.company_address %}
            {% include "common/field/text_field_input.html" with field=customer_form.company_district %}
            {% include "common/field/text_field_input.html" with field=customer_form.company_province %}
            {% include "common/field/text_field_input.html" with field=customer_form.group %}
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>